body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(55, 48, 48);
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: rgb(188, 188, 188)
}

#container {
    position: absolute;
    top: 0;
    width: min(90%, 800px);
    margin: auto;
    border: 1px solid white;
}

#img {
    width: 100%;
}

#controls {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}